<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.CartMapper">
    <!-- 카트 추가 -->
    <insert id="addCart">

        insert into cart(memId, bookId, bookCount)
        values (#{memId}, #{bookId}, #{bookCount})

    </insert>

    <!-- 카트 삭제 -->
    <delete id="deleteCart">

        delete from cart where cartId = #{cartId}

    </delete>

    <!-- 카트 수량 수정 -->
    <update id="modifyCount">

        update cart set bookCount = #{bookCount} where cartId = #{cartId}

    </update>

    <!-- 카트 목록 -->
    <select id="getCart" resultType="com.book.model.CartDTO">

        select a.cartId, a.memId, a.bookId, a.bookCount, b.bookName, b.bookPrice, b.bookDiscount
        from cart a left outer join book b on a.bookId = b.bookId
        where memId = #{memId}

    </select>

    <!-- 카트 확인 -->
    <select id="checkCart" resultType="com.book.model.CartDTO">

        select * from cart
        where memId = #{memId} and bookId = #{bookId}

    </select>

    <!-- 카트 제거(주문) -->
    <delete id="deleteOrderCart">

        delete from cart where memId = #{memId} and bookId = #{bookId}

    </delete>


</mapper>